.navbar-default .navbar-brand {
    color: #1caa98;
}

.navbar-default .navbar-brand:hover {
    color: #1caa98;
}

.intro-page{
	width:85%;
	max-width:600px;
}

.col-md-4{
	margin-bottom: 40px;

}


.life{
	color: #1caa98;
	}

html, body{
	height: 100%;
}

body{
	padding-top: 50px;
}


.jumbotron h1 {
	margin-top: 125px;

}


.showcase-img{
	height: 547px;
	margin-left: 50px;
}



.logo{
	padding-top: 50px;
}

#middle-content{
	padding: 55px 0 35px 0;
}

#title-bar{
	height:80px;
	background-color: #1caa98;
	color:white;
	padding: 0;
	margin-bottom: 50px;
}


#about{
	margin-bottom: 20px;
}

.textarea{
	width: 500px;

}

.contact-form{
	padding-bottom: 20px;
}

.jumbotron img.app-btn{
	width:40%;
	margin-right: 30px;
	margin-top: 25px;
}

#feature{
	padding: 55px 0;
	background: #1caa98;
	color:white;
}



#feature ul li{
	font-size:22px;
	list-style:none;
	line-height:2.5em;
}

.jumbotron{

	background: #1b222a url(../images/site_showcase_bg.jpg) no-repeat top center;
	color: white;
	height:100%;
	margin-bottom: 0;
	overflow:none;

}

footer{
	background-color: #333;
	color:white;
	padding:30px 0 20px 0;

}


footer li{
	float:left;
	padding:0 10px;
	list-style:none;
}

footer a{
	color: white;
}


/*MEDIA QUERIES*/

@media(max-width:1200px){

}


@media(max-width:991px)
	{
		.showcase-img{
			display: none;
		}
}

@media(min-width: 768px) and (max-width:991px)
{
	.jumbotron img.app-btn{
	width:30%;

}

}


@media(max-width: 768px){

	.jumbotron img.app-btn{
		width:30% !important;
	}


}

@media(max-width:500px){
	.jumbotron{

	background-image:none;
	text-align: center;
	padding-left: 20px;
}

	#title-bar{
		background-color: #1b222a;
	}

	.navbar-default .navbar-brand {
		font-weight: bold;
    color: #1b222a;
}


	.jumbotron img.app-btn{
		width:50% !important;
	}

	#feature ul li{
	font-size:19px !important;

	}

	footer p{

		text-align: center;
		padding-top: 10px;
	}

}





@media(max-width:650px)
{
	#contact-us input{

	width: 300px;
}

#contact-us textarea{
	width: 300px;
	margin:0 auto;
}
}

@media(max-width:767px){
	#title-bar h1{
		padding-left: 13px;
	}
}
